<!-- Education card -->
<div class="wid" id="education">
    <h2>SCHULISCHER WERDEGANG:</h2>
    <ul>
      <li>
        <h4>2021-BIS HEUTE:</h4>
      </li>
      <div ngClass="card-body">
        <p>WIRTSCHAFT.IN UNIVERSITÄT MOHAMMED 1ER IN OUJDA.</p>
      </div>
      <li><h4>2020 - 2021:</h4></li>
      <div ngClass="card-body">
        <p>SCHULUNG FÜR WEB-UND MOBILE ENTWICKLUNG.BEI AL JISR VEREINIGUNG ( GREENCHIP 2.0 PROGRAMM) IN BERKANE.</p>
      </div>
      <li><h4>2015 - 2017:</h4></li>
      <div ngClass="card-body">
        <p>IT-ENTWICKLUNG(COMPUTER-SPEZIALISIERTER TECHNIKER ENTWICKLUNG)IN SPEZIALISIERTES INSTITUT FÜR ANGEWANDTE TECHNOLOGIE.</p>
      </div>
      <li><h4>2014 - 2015:</h4></li>
      <div ngClass="card-body">
        <p>MATERIALWISSENSCHAFT PHYSIK CHEMIE (1. JAHR) IN DER UNIVERSITÄT MOHAMMED 1<sup>er</sup> IN OUJDA.</p>
      </div>
      <li><h4>2014:</h4></li>
      <div ngClass="card-body">
        <p>ABITUR : (PHYSIK UND CHEMIE) IN ALLAYMOUN GYMNASIUM.</p>
      </div>
      <li><h4>2009:</h4></li>
      <div ngClass="card-body">
        <p>MITTELSCHULABSCHLUSS IN DER MITTELSCHULE AL FIHRIYA.</p>
      </div>
      <li><h4>2006:</h4></li>
      <div ngClass="card-body">
        <p>GRUNDSCHULZEUGNIS IN DER IMAM ALI GRUNDSCHULE.</p>
      </div>
    </ul>
  </div>
  <!-- End education -->