<footer class="col-12 footer dark pt-4">
    <div class="container">
    
        <div class="row">
            <div class="col">
                <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                    <li class="nav-item">
                        <a href="https://facebook.com/mrjkr05" target="_blank" class="nav-link px-2 text-muted">
                        <i class="fab fa-facebook"></i> </a>
                    </li>
                    <li class="nav-item"><a href="https://instagram.com/mrjkr05" target="_blank" class="nav-link px-2 text-muted">
                        <i class="fab fa-instagram"></i> </a>
                    </li>
                    <li class="nav-item"><a target="_blank" href="https://api.whatsapp.com/send?phone=212681644294&text=%F0%9F%98%80%F0%9F%98%80%20Hello%2C%20I%27m%20pleased%20to%20help%20you" class="nav-link px-2 text-muted">
                        <i class="fab fa-whatsapp"></i> </a>
                    </li>
                    <li class="nav-item"><a href="https://twitter.com/mrjkr05" target="_blank" class="nav-link px-2 text-muted">
                        <i class="fab fa-twitter"></i> </a>
                    </li>
                    <li class="nav-item"><a href="https://github.com/mrjkr05" target="_blank" class="nav-link px-2 text-muted">
                        <i class="fab fa-github"></i> </a>
                    </li>
                    <li class="nav-item"><a href="https://linkedin.com/in/mrjkr05" target="_blank"  class="nav-link px-2 text-muted">
                        <i class="fab fa-linkedin-in"></i> </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="text-center text-muted">Mohammed Rabhi © 2023 MRjkr05, <br>All rights reserved</p>
            </div>
        </div>
        
    
    </div>
</footer>