<mat-toolbar class="navbar navbar-expand-lg">
  <img width="40" alt="website Logo" src="./assets/images/logo.png" ngClass="rounded" />
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <mat-icon style="color: #fff;float: right;">menu</mat-icon>
  </button>
  <div class="spacer"></div>
  <div class="collapse navbar-collapse collapsed" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a aria-label="home" rel="noopener" mat-button routerLink="home" title="Home">
        <mat-icon>home</mat-icon>
      </a>
      <a aria-label="Education" rel="noopener" mat-button routerLink="education" title="Education">
        <mat-icon>school</mat-icon>
      </a>

      <a aria-label="Work" rel="noopener" mat-button routerLink="work" title="Work">
        <mat-icon>work_history</mat-icon>
      </a>
      <a aria-label="Projects" rel="noopener" mat-button routerLink="projects" title="Projects">
        <mat-icon>task</mat-icon>
      </a>
      <a aria-label="Skills" rel="noopener" mat-button routerLink="skills" title="Skills">
        <mat-icon>psychology</mat-icon>
      </a>
      <a aria-label="Languages" rel="noopener" mat-button routerLink="languages" title="Languages">
        <mat-icon>language</mat-icon>
      </a>
      <a aria-label="Hobbies" rel="noopener" mat-button routerLink="hobbies" title="Hobbies">
        <mat-icon>holiday_village</mat-icon>
      </a>
      <a aria-label="ContactMe" rel="noopener" mat-button routerLink="contact" title="Contact-me">
        <mat-icon>connect_without_contact</mat-icon>
      </a>
    </div>
  </div>
  <div class="collapse navbar-collapse collapse">
    <a aria-label="home" rel="noopener" mat-button routerLink="home" title="Home">
      <span class="t">Home</span>
    </a>
    <a aria-label="Education" rel="noopener" mat-button routerLink="education" title="Education">
      <span class="t">Educations</span>
    </a>
    <a aria-label="Work" rel="noopener" mat-button routerLink="work" title="Work">
      <span class="t">Experiances</span>
    </a>
    <a aria-label="Projects" rel="noopener" mat-button routerLink="projects" title="Projects">
      <span class="t">Projects</span>
    </a>
    <a aria-label="Skills" rel="noopener" mat-button routerLink="skills" title="Skills">
      <span class="t">Technologies</span>
    </a>
    <a aria-label="Languages" rel="noopener" mat-button routerLink="languages" title="Languages">
      <span class="t">Languages</span>
    </a>
    <a aria-label="Hobbies" rel="noopener" mat-button routerLink="hobbies" title="Hobbies">
      <span class="t">Hobbies</span>
    </a>
    <a aria-label="ContactMe" rel="noopener" mat-button routerLink="contact" title="Contact-me">
      <span class="t">Contact-Me</span>
    </a>
  </div>
</mat-toolbar>