<link href="https://fonts.googleapis.com/css?family=Oswald:200,400,700" rel="stylesheet">
<section>
    <h2 class="section-header h1 text-dark text-center">Contact Me</h2>
    <div class="row">

        <!-- Contact Form Card -->
        <!-- <div class="d-flex justify-content-center align-items-start col-md-12 col-lg-7">
            <form [formGroup]="contact" class="form-horizontal justify-content-center" (ngSubmit)="contactMe()">
                <div class="form-group m-3">
                    <input type="text" class="form-control" id="name" placeholder="NAME" formControlName="name">
                </div>
                <div class="form-group m-3">
                    <input type="email" class="form-control" placeholder="EMAIL" formControlName="email" required>
                </div>
                <div class="form-group m-3">
                    <input type="text" class="form-control" id="Object" placeholder="Object" formControlName="object">
                </div>
                <div class="form-group">
                    <textarea class="form-control m-3 " rows="8" placeholder="MESSAGE"
                        formControlName="message"></textarea>
                </div>
                <button class="btn btn-dark send-button form-control m-3" type="submit" value="SEND"
                    [disabled]="contact.invalid">
                    <div class="alt-send-button">
                        <i class="fa fa-paper-plane"></i><span class="send-text">SEND</span>
                    </div>
                </button>
            </form>
        </div> -->

        


        <!-- Information Card -->
        <div class="direct-contact-container column mt-5 col-md-12 col-lg-5">
            <div class="col-md-12  list-item   ">
                <mat-icon class="material-symbols-outlined">location_on</mat-icon>
                <span class="contact-text place ">
                    AddaStrasse, 3, Berkane, 63300, Marakko.
                </span>
            </div>
            <div class="col-md-12  list-item   ">
                <mat-icon class="material-symbols-outlined">phone_in_talk</mat-icon>
                <span class="contact-text phone  ">
                    <a href="tel:00212681644294" title="Give me a call">
                        (212) 06 81 64 42 94
                    </a>
                </span>
            </div>
            <div class="col-md-12  list-item   ">
                <mat-icon class="material-symbols-outlined">mail</mat-icon>
                <span class="contact-text gmail ">
                    <a href="mailto:mohammed.rabhi@outlook.de" title="Send me an email">
                        mohammed.rabhi@outlook.de
                    </a>
                </span>
            </div>

        </div>

        <div class="d-flex justify-content-center align-items-start col-md-12 col-lg-7">
            <div class="img d-flex">
                <img src="./assets/images/me1.jpg" alt="my image" class="img-fluid">
            </div>
        </div>
    </div>
</section>