  <!-- Word card -->
  <div class="wid" id="work">
    <h2>BERUFSERFAHRUNG UND PRAKTIKUM :</h2>
    <ul>
      <li>
        <h4>01.05.2019 - 01.02.2020:</h4>
      </li>
      <div ngClass="card-body">
        <p>REALISIERUNG VON PROJEKTEN IN DIGITAL RECORD PRODUCTION.</p>
      </div>
      <li><h4>03.09.2018 - 11.03.2019 :</h4></li>
      <div ngClass="card-body">
        <p>WEBSITESTATISC HERSTELLEN in Global Electronic Business Solutions.</p>
      </div>
      <li><h4>26.01.2018 - 30.04.2018 :</h4></li>
      <div ngClass="card-body">
        <p> PROJEKTE ERSTELLEN. in ITQAN SOFT.</p>
      </div>
      <li><h4>27.09.2017 - 27.11.2017 :</h4></li>
      <div ngClass="card-body">
        <p>DATEN EINFÜGUNG,LOKALISIERUNG in der Provinz Berkane (System Infographie und Geolocation-Service). </p>
      </div>
    </ul>
  </div>
  <!-- End Work Card -->