<div class="row bg-light">
  <div class="col-md-6 col-sm-12" style="height: 100px;border: 1px solid red;">
      <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur voluptas nemo minus quos esse qui similique
          hic quod voluptate. Vel!
      </p>
  </div>
  <div class="col-md-6 col-sm-12" style="border: 1px solid green;">
      <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores nihil obcaecati ea quod, nisi est
          reiciendis exercitationem impedit enim optio esse itaque vitae quam quaerat quo, aliquid ducimus consectetur
          rerum consequuntur facilis dolorem cum suscipit dolor soluta? Tempora nam deleniti, ipsa praesentium,
          accusantium debitis nisi amet fugiat obcaecati, deserunt quaerat officiis eligendi vel rerum aut. Modi,
          facere magni eius illo hic amet aut labore fugiat veritatis iste reiciendis tempore ad distinctio beatae,
          ullam deleniti illum perferendis iusto. Non quam accusantium temporibus consequatur reprehenderit, vero rem
          id atque dignissimos veritatis natus, soluta similique voluptatum, totam quod consectetur sed cumque ad eum?
      </p>
  </div>
</div>